<section class="mx-auto">
  <div class="flex justify-center my-4">
      <div id="filter" class="filter bg-transparent">
          <input
          type="text"
          class="p-2 my-5 text-lg border-b-2 border-[#ccc] outline-none bg-transparent focus:text-se-dark"
          id="filter"
          placeholder="Filter Events By Name"
          />
      </div>
  </div>
</section>

<script>
  import '@utils/eventFilterAsync.js';  
</script>