---
import EventCard from "./ui/EventCard.astro";

const inStaticMode = await import.meta.env.STATIC_MODE;

let api_url;

inStaticMode === "true" ? api_url = new URL(`http://localhost:5000/api/events`): api_url = new URL(`/api/events`, Astro.url);

const response = await fetch(api_url);
const data = await response.json();

const eventsData = data;

const today = new Date();

const pastEvents = eventsData.filter(event => {
  return CheckIfInThePast(event) ? event : "";
});

pastEvents.reverse();

function CheckIfInThePast(event) {
  const endDate = new Date(event.dates[1]);
  return endDate < today ? true : false;
}
---

<section id="events">
  <h2 class="text-3xl font-bold text-se-dark my-10 text-center">
    Past Events
  </h2>
  <div class="mx-auto flex flex-wrap gap-3 lg:gap-8 justify-center max-w-5xl px-5"> 
    {pastEvents.map(event => (
      <EventCard key={event.id} event={event} displayYear={true} />
    ))}
  </div>
</section>