---
const { url } = Astro.props;
---

<section>
  <div class="mx-auto flex justify-center max-w-6xl">
    <div class="flex w-full justify-center bg-white mx-5 sm:mx-10 h-full rounded-lg p-8 shadow-md md:max-w-6xl">
      <div class="w-full">
        <div class="video w-full h-full">
          <iframe src="https://www.youtube.com/embed/mVJMz7ZuYAs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>    
    </div>
  </div>
</section>