---
import MainLayout from "@layouts/MainLayout.astro";
import UpcomingEvents from "@components/UpcomingEvents.astro";
import EventsFilter from "@components/EventsFilter.astro";
import LinkButton from "@components/ui/LinkButton.astro";
import Modal from "@components/ui/Modal.astro";
---

<MainLayout title="Upcoming Events">
  <section>
		<div class="container mx-auto max-w-6xl my-10 space-y-8">
			<div class="flex justify-center">

				<div class="grid grid-cols-1">
					<LinkButton icon="home" text="Back Home" url="/" colors="bg-se-blue-300 hover:bg-se-blue-400 text-white" classes="flex gap-2 items-center"/>
				</div>
			</div>
		</div>
  <EventsFilter />
  <UpcomingEvents />
  <section>
		<div class="container mx-auto max-w-6xl my-10 space-y-8">
			<div class="flex justify-center px-5">

				<div class="grid grid-cols-3">
					<LinkButton icon="home" text="Back Home" url="/" colors="bg-se-blue-300 hover:bg-se-blue-400 text-white" 
						classes="flex gap-2 items-center" id="events-more" tooltipText="View Events Page"/>
					<Modal icon="calendar" title="European Tournament Calendar" 
						dialogClasses="w-9/12" classes="justify-self-center" btnClasses="h-full" 
						buttonId={'events-calendar'} tooltipText={`European Tournament Calendar`}>
            <main slot="main" class="block w-full h-full">
              <div class="relative w-full h-full p-5 pt-0">
                <iframe src="https://teamup.com/ksbsj1366v93kqovju?showLogo=0&showSearch=1&showProfileAndInfo=0&showSidepanel=1&showTitle=0&showMenu=1&showAgendaHeader=1&showAgendaDetails=0&showYearViewHeader=1" style="height: 70vh; width: 100%; overflow-x: hidden;" frameborder="0"></iframe>
              </div>
              
            </main>
          </Modal>
					<LinkButton icon="history" text="Past Events" url="/events/past-events" classes="flex gap-2 items-center" 
						id="events-past" tooltipText="See Past Featured Events" />
				</div>
			</div>
		</div>
		
	</section>
</MainLayout>